*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.applybox{
    max-width: 600px;
    padding: 20px;
    background-color:white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}
.title{
    font-size:12px;
}